---
interface Props {
    titulo: string;
    fecha: string;
    autor: string;
    descripcion: string;
    href: string;
    image?:string;
}

const { image, titulo, fecha, autor, descripcion, href, } = Astro.props;
---

<a href={href}>
    <hr />
    <div class="grid-1">
        <div class="entrada">
            <h2 class="titulo">
                {titulo}
            </h2>
            <p class="fecha">
                {fecha}
            </p>
            <p class="autor">
                {autor}
            </p>
            <p class="desc">
                {descripcion}
            </p>
        </div>
        <div class="imagen">
            {image}
        </div>
    </div>
    <hr />
</a>

<style>
    body{
        font-family: montserrat;
    }
    a {
        text-decoration: none;
    }
    h2 {
        color: whitesmoke;
    }
    p {
        color: whitesmoke;
    }
    .fecha {
        font-size: 1rem;
        color: rgb(134, 134, 134);
    }
    .autor {
        font-size: 0.8rem;
        color: rgb(134, 134, 134);
         
    } 
    .desc{
        font-size: 1rem;
    }
    .grid-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 0px;
    }
    /*.imagen {
        width: 350px;
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("https://w.wallhaven.cc/full/2y/wallhaven-2yx5og.jpg");
        grid-area: 1 / 3 / 2 / 4;
    }*/
    .entrada {
        grid-area: 1 / 1 / 2 / 3;
    }
</style>
